
# IDEs
node_modules/

# Dist files
/languages
/js/vendor/*
/js/dist/*
/css/dist/*
/packages/*/dist
yarn-error.log
coverage
dependencies.json
dependencies.md
.vscode
.idea/
.DS_Store


## Composer
/vendor